@charset "utf-8";

@import
  url('https://fonts.googleapis.com/css?family=Roboto'),
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

body{
  font-family: 'Roboto', sans-serif;
  color: black;
}

main {
  text-align: center;
  height: 100vh;
}

th{
  font-weight: bold;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  min-width: auto;
  max-width: auto;
  width: auto;
}

header{
  background-color: #bb5262
}

#sign{
  width: 30%;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  image-rendering: auto;
  margin-bottom: 1rem;
}

h2{
  font-size: 6rem;
}

h2{
  font-size: 3rem;
}

h4{
  padding-bottom: 2rem;
}

#phone_number, #phone_number:visited{
	font-weight: 500;
	font-size: 16px;
  letter-spacing: 0.07em;
  line-height: 24px;
	color: white;
  background: #fa7e29;
  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
  margin-top: 12px;
  transition: color .3s, border .3s;
}

#phone_number:hover{
  border: 2px solid #5e1413;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  color: #5e1413;
  margin-top: 10px;
}

body{
  background-image: url("background.jpg");
}

table{
  width: 45%;
  font-size: 1.5rem;
}

main table {
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 250px; 
  width: 500px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

b{
  font-weight: bold;
}