@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

b{
  font-weight: bold;
}

body > * {
  padding: initial;
}


#social{
  position: relative;
  width: 100%;
  z-index: 3;
  font-size: 27px;
}

#yelp{
  position: absolute;
  right: 113px;
  top: 0px;
  border: 3px solid rgba(216, 95, 73, 0.9);
  border-radius: 5px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 2px;
  transition: .25s;
}

#facebook{
  position: absolute;
  right: 33px;
  top: 0px;
  border: 3px solid rgba(216, 95, 73, 0.9);
  border-radius: 5px;
  padding-left: 6.5px;
  padding-right: 7px;
  padding-top: 2px;
  transition: .25s;
}

#social a, #social a:visited {
  border-bottom: initial;
  text-decoration: none;
  color: rgba(216, 95, 73, 0.9);
  border: 3px solid rgba(216, 95, 73, 0.9);
}

#social a:hover, #yelp:hover, #facebook:hover{
  color: rgba(251, 157, 35, 0.9);
  border: 3px solid rgba(251, 157, 35, 0.9);
}

a{
  border-bottom: none;
}



body{
  width: 100vw;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  color: black;
}

main {
  text-align: center;
  height: 100vh;
  position: relative;
  display: initial;
}

table{
  cursor: default;
}

th{
  font-weight: bold;
  line-height: 50px;
}

thead tr:nth-child(odd) {
  background: rgba(230, 92, 0, 0.6);
}

tbody{
  font-weight: 400;
}


tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.6);
}

tbody tr:nth-child(even) {
  background: rgba(180, 180, 180, 0.6);
}



th, td {
  // border-bottom: 1px solid #ddd;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  min-width: auto;
  max-width: auto;
  width: auto;
}

th:last-child{  
  border-radius: 0 20px 0 0;

}

tr:last-child td:first-child {
  border-radius: 0 0 0 20px;

}


header{
  background-color: #bb5262
}

h2{
  font-size: 3rem;  
}

h3{
  position: relative;
  padding-top: 5px;
  padding-bottom: 20px;
  color: #381a15;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0px;
  font-size: 30px;
  z-index: 2;
  cursor: default;
}

h4{
  padding-bottom: 2rem;
}

#phone_container{
  height: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

#phone_number, #phone_number:visited{
	font-size: 23px;
	color: white;
  background: rgb(250, 125, 41);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FA7D29), to(#fb9d23));
  background-image: -webkit-linear-gradient(top, #FA7D29, #fb9d23);
  background-image: -moz-linear-gradient(top, #FA7D29, #fb9d23);
  background-image: -ms-linear-gradient(top, #FA7D29, #fb9d23);
  background-image: -o-linear-gradient(top, #FA7D29, #fb9d23);
  background-image: linear-gradient(to bottom, #FA7D29, #fb9d23);
  border-radius: 4px;
  padding: 13px;
  text-decoration: none;
  top: 12px;
  transition: box-shadow .25s, border .25s, top .25s, padding .1s;
  position: relative;
}

#phone_number:hover{
  top: 6px;
  -webkit-box-shadow: 0px 19px 32px -15px rgb(110, 50, 18); 
  box-shadow: 0px 19px 32px -15px rgb(110, 50, 18); 
  // padding: 16px;
}


#appointment_container{
  margin-top: 25px;
  margin-bottom: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  // letter-spacing: 2px;
}

#appointment_text, #appointment_text:visited{
	font-size: 30px;
	color: #e65c00;
  padding: 13px;
  text-decoration: underline;
  top: 12px;
  transition: box-shadow .25s, border .25s, top .25s, padding .1s;
  position: relative;
}

#appointment_text:hover{
  top: 10px;
}

#gallery_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.galleryimg{
  border: 3px solid rgba(230, 92, 0, .5);
  width: 400px;
  min-width: 200px;
  border-radius: 6px;
  margin:20px;

}

.linkToStyles a{
  color: rgb(230, 92, 0);
  cursor: pointer;
  font-weight: 600;
  transition: .1s;
  font-size: 22.5px;
}

.linkToStyles a:hover{
  color: rgb(230, 70, 0);
  cursor: pointer;
  font-weight: 600;
}

.linkToStyles{
  margin-top: 5px;
}

#cuts_container{
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  width: 950px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.cuts{
  border: 3px solid rgba(230, 92, 0, .5);
  width: 170px;
  border-radius: 6px;
}


body{
  background: url("../assets/background.jpg") no-repeat center center fixed; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: initial;
}

table{
  font-family: 'Raleway', sans-serif;
  width: 295px;
  font-size: 20px;
}

main table {
  margin-left: auto;
  margin-right: auto;
}

#map {
  border: 3px solid rgba(230, 92, 0, .125);
  height: 292px; 
  width: 575px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 3;
 
}

#promos P{
  color: #e65c00;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 0px;
  cursor: default;
  line-height: .7;
  padding-bottom: 0px;
}

#info{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: default;
  line-height: .7;
}


#info img, #promos img{
  min-width: 100px;
  max-width: 350px;
  border: 3px solid rgba(230,92,0,0.5);
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}


#hours_map_container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

p{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}

#warped {
  transform: scale(3);
  height: 140px;
}

#PizzazzTitle{
  margin-top: 30px;
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
}

#WhereLooksMatter{
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}


#stylists_container{
  cursor: default;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

#stylist_1{   
  width: 85%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

#stylist_2{  
  width: 85%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

#stylist_3{  
  width: 85%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#stylist_image{
  // margin-bottom: 10px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  border: 3px solid rgba(230, 92, 0, 0.9);
  overflow: hidden;
}

.portrait{
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}


#stylist_info_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;

}

#stylist_name{
  font-size: 28px;
  font-weight: 500;
  margin-top: 5px;
}




#stylist_description{
  font-size: 20px;
  color: black;
  margin-bottom: 50px;
  font-weight: 500;
  font-style: italic;
  margin-top: 5px;
}



#first_section{
  min-height: 100%;
}

p.intro{
  padding-bottom: 0px;
}


@media only screen and (max-width: 1000px) {


  #cuts_container{

    width: 95%;
    flex-direction: row;

  }

  .cuts{

    width: 145px;

  }


  #hours_map_container {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height:560px;
  }
  #map {
    width: 575px;
    height: 200px;

  }
  #info, #promos{
    margin-bottom: 0;
  }

  #stylists_container{
    width: 95%;
  }

  #stylist_1{   
    width: 100%;      
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #stylist_2{  
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #stylist_3{  
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #stylist_image{
    margin-bottom: 0px;

  }

  #stylist_description{
    margin-top: 5px;
  }
  

  #stylist_name{
    margin-top: 7px;

  }

}

@media only screen and (max-width: 950px) {
  #map {
    width: 575px;

  }

  #warped {
    transform: scale(2);
  }

  #social{
    font-size: 22px;
  }

  #facebook{   
    right: 10px;
    top: -20px;
  }

  #yelp{   
    right: 75px;
    top: -20px;
  }

}

@media only screen and (max-width: 800px) {

#cuts_container{

  width: 95%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.cuts{

  width: 125px;
  margin: 5px;

}


}




@media only screen and (max-width: 680px) {
  #map {
    width: 93%;

  }

  #warped {
    transform: scale(2);
  }

  #social{
    font-size: 15px;
  }

  #facebook{   
    right: 10px;
    top: -20px;
    padding-top: 6px;
    padding-bottom: 2px;
  }

  #yelp{   
    right: 60px;
    top: -20px;
    padding-top: 6px;
    padding-bottom: 2px;
  }



}

@media only screen and (max-width: 530px) {


  #warped {
    transform: scale(1.5);
  }

  #social{
    font-size: 15px;
  }

  #facebook{   
    right: 10px;
    top: -20px;
    padding-top: 6px;
    padding-bottom: 2px;
  }

  #yelp{   
    right: 60px;
    top: -20px;
    padding-top: 6px;
    padding-bottom: 2px;
  }

  #warped {
    height: 130px;
  }

  h3{
    font-size: 25px;
  }


}