@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

body{
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

main {
  text-align: center;
  height: 100vh;
}

th{
  font-weight: bold;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  min-width: auto;
  max-width: auto;
  width: auto;
}

header{
  background-color: #bb5262
}

#sign{
  width: 15%;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  image-rendering: auto;
  margin-bottom: 1rem;
}

h2{
  font-size: 6rem;
}

h2{
  font-size: 3rem;
}

h3{
  padding-bottom: 1.5rem;
}

h4{
  padding-bottom: 2rem;
}

#phone_container{
  height: 80px;
}
#phone_number, #phone_number:visited{
	font-size: 20px;
	color: white;
  background: rgba(250, 125, 41, 1);
  border-radius: 4px;
  padding: 13px;
  text-decoration: none;
  top: 12px;
  transition: box-shadow .3s, border .3s, top .3s;
  position: relative;

}

#phone_number:hover{
  top: 6px;
  -webkit-box-shadow: 0px 19px 32px -15px #FA7328; 
  box-shadow: 0px 19px 32px -15px #FA7328;
}

body{
  background-image: url("background.jpg");
  display: initial;
}

table{
  width: 290px;
  font-size: 20px;
}

main table {
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 250px; 
  width: 575px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

b{
  font-weight: bold;
}


#hours_map_container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1000px) {
  #hours_map_container {
    flex-direction: column-reverse;
    width: 95%;
  }
  #map {
    width: 95%;
  }
}