---
layout: default2
---

<!-- <div id="social">
  <a id="yelp" href="https://www.yelp.com/biz/pizzazz-champaign-2" target="_blank">
    <i class="fab fa-yelp fa-2x"></i>
  </a>
  <a id="facebook" href="https://www.facebook.com/pizzazzchampaign/" target="_blank">
    <i class="fab fa-facebook fa-2x"></i>
  </a>
</div> -->




<div id="first_section">


              <img id="PizzazzTitle" src="assets/PizzazzTitle.svg">
              <!-- <img id="WhereLooksMatter" src="assets/WhereLooksMatter.svg" alt="WhereLooksMatter"> -->








<!-- <h3>Where Looks Matter</h3> -->
<div id="phone_container"><a id="phone_number" href="tel:217-721-9724">(217) 721-9724</a></div>


<!-- Pictures cropped to 400x400px -->
<div id="gallery_container">
    {% include gallery1image.html %}
    {% include gallery2image.html %}
    {% include gallery3image.html %}
    {% include gallery4image.html %}
    {% include gallery5image.html %}
    {% include gallery6image.html %}
    {% include gallery7image.html %}
    {% include gallery8image.html %}
    {% include gallery9image.html %}
    {% include gallery10image.html %}
    {% include gallery11image.html %}
    {% include gallery12image.html %}
    {% include gallery13image.html %}
    {% include gallery14image.html %}
    {% include gallery15image.html %}
    {% include gallery16image.html %}
    {% include gallery17image.html %}
    {% include gallery18image.html %}
    {% include gallery19image.html %}
    {% include gallery20image.html %}

</div>


</div>



  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>