---
layout: default
---

<img id="sign" src="assets/pizzazz_sign.jpg" alt="PizZazz Sign">

<h2>PizZazz</h2>
<h3>Where Looks Matter</h3>
<h4><a id="phone_number" href="tel:217-721-9724">(217) 721-9724</a></h4>

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDxXtuYanZpwLDoFVRvK7PTU3hYEE-nLs&callback=initMap" async defer> </script>

<script>

var map;
function initMap() {

  var myLatLng = {lat: 40.1112606, lng: -88.2419926};

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.1112606, lng: -88.2419926},
    zoom: 15
  });

  var contentString = 'PizZaz<br> <a href="https://www.google.com/maps/place/PizZazz/@40.1107057,-88.2401895,16.75z/data=!4m5!3m4!1s0x0:0xcb22c9d4827c593c!8m2!3d40.111222!4d-88.2384639">Directions</a><br>' + '';

    var infowindow = new google.maps.InfoWindow({
        content: contentString,
        });

    var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'PizZazz'
  });

  marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
}

</script>



<!-- <h2>{{ page.title }}</h2> -->

  {% include page-intro.html %}

  {{ content }}

  <!-- <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section> -->
