---
layout: default
---

<!-- <img id="sign" src="assets/pizzazz_sign.jpg" alt="PizZazz Sign"> -->




              <style type='text/css'>
                     #warped {position: relative; display: block; width:200px; height:140px;
                      transform: scale(3);
                      margin-right: auto;
                      margin-left: auto;
                      text-shadow: rgb(199, 89, 70) 2px 0px 0px, rgb(199, 89, 70) 1.75517px 0.958851px 0px, rgb(199, 89, 70) 1.0806px
1.68294px 0px, rgb(199, 89, 70) 0.141474px 1.99499px 0px, rgb(199, 89, 70) -0.832294px 1.81859px 0px, rgb(199, 89, 70)
-1.60229px 1.19694px 0px, rgb(199, 89, 70) -1.97998px 0.28224px 0px, rgb(199, 89, 70) -1.87291px -0.701566px 0px,
rgb(199, 89, 70) -1.30729px -1.5136px 0px, rgb(199, 89, 70) -0.421592px -1.95506px 0px, rgb(199, 89, 70) 0.567324px
-1.91785px 0px, rgb(199, 89, 70) 1.41734px -1.41108px 0px, rgb(199, 89, 70) 1.92034px -0.558831px 0px;
  
color: white;        

                     
                     }

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; 
                     font-family: 'Poppins', sans-serif;
                     font-size: 38px;        
                    font-weight: normal;}

                     #warped span{font-size:44px;font-weight:regular;font-style:normal;
                     line-height:0.6; white-space:pre; overflow:visible; padding:0px;}

                     #warped .w0 {-moz-transform: rotate(-0.41rad);-webkit-transform: rotate(-0.41rad);-o-transform:
                     rotate(-0.41rad);-ms-transform: rotate(-0.41rad); transform: rotate(-0.41rad);
                     width: 24px; height: 26px; left: 29px; top: 67.46px;}

                     #warped .w1 {-moz-transform: rotate(-0.28rad);-webkit-transform: rotate(-0.28rad);-o-transform:
                     rotate(-0.28rad);-ms-transform: rotate(-0.28rad); transform: rotate(-0.28rad);
                     width: 12px; height: 26px; left: 52.5px; top: 62.44px;}

                     #warped .w2 {
    -moz-transform: rotate(-0.17rad);
    -webkit-transform: rotate(-0.17rad);
    -o-transform: rotate(-0.17rad);
    -ms-transform: rotate(-0.17rad);
    transform: rotate(-0.17rad);
    width: 20px;
    height: 26px;
    left: 66px;
    top: 57.93px;
                     }

                     #warped .w3 {-moz-transform: rotate(0rad);-webkit-transform: rotate(0rad);-o-transform:
                     rotate(0rad);-ms-transform: rotate(0rad); transform: rotate(0rad); width:
                     27px; height: 26px; left: 86px; top: 56px;}

                     #warped .w4 {
    -moz-transform: rotate(0.16rad);
    -webkit-transform: rotate(0.16rad);
    -o-transform: rotate(0.16rad);
    -ms-transform: rotate(0.16rad);
    transform: rotate(0.17rad);
    width: 20px;
    height: 26px;
    left: 111.5px;
    top: 56.94px;
                     }

                     #warped .w5 {
    -moz-transform: rotate(0.3rad);
    -webkit-transform: rotate(0.3rad);
    -o-transform: rotate(0.3rad);
    -ms-transform: rotate(0.3rad);
    transform: rotate(0.3rad);
    width: 20px;
    height: 26px;
    left: 138.25px;
    top: 62.62px;
                     }

                     #warped .w6 {
    -moz-transform: rotate(0.44rad);
    -webkit-transform: rotate(0.44rad);
    -o-transform: rotate(0.44rad);
    -ms-transform: rotate(0.44rad);
    transform: rotate(0.40rad);
    width: 20px;
    height: 26px;
    left: 159px;
    top: 69.98px;
                     }

              </style>






              <div id='warped'>
                     <span class='w0'>P</span><span class='w1'>i</span><span class='w2'>z</span><span class='w3'>Z</span><span class='w4'>a</span><span class='w5'>z</span><span class='w6'>z</span>
              </div>



<h3>Where Looks Matter</h3>
<div id="phone_container"><a id="phone_number" href="tel:217-721-9724">(217) 721-9724</a></h4></div>


<div id="hours_map_container">

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDxXtuYanZpwLDoFVRvK7PTU3hYEE-nLs&callback=initMap" async defer> </script>

<script>

var map;
function initMap() {

  var myLatLng = {lat: 40.111222, lng: -88.2384639};

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.111222, lng: -88.2384639},
    zoom: 14,
    disableDefaultUI: true,
    zoomControl: true
  });

  var contentString ='<b>PizZazz</b>' + '<br> 602a S 1st St<br> Champaign, IL 61820<br> <a href="https://www.google.com/maps/place/PizZazz/@40.1107057,-88.2401895,16.75z/data=!4m5!3m4!1s0x0:0xcb22c9d4827c593c!8m2!3d40.111222!4d-88.2384639">View on Google Maps</a><br>';

    var infowindow = new google.maps.InfoWindow({
        content: contentString,
        });

    var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'PizZazz'
  });

  marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
}

</script>



<!-- <h2>{{ page.title }}</h2> -->

  {% include page-intro.html %}

  {{ content }}

  <!-- <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section> -->

</div>