---
layout: default
---

<!-- <div id="social">
  <a id="yelp" href="https://www.yelp.com/biz/pizzazz-champaign-2" target="_blank">
    <i class="fab fa-yelp fa-2x"></i>
  </a>
  <a id="facebook" href="https://www.facebook.com/pizzazzchampaign/" target="_blank">
    <i class="fab fa-facebook fa-2x"></i>
  </a>
</div> -->




<div id="first_section">


              <img id="PizzazzTitle" src="assets/PizzazzTitle.svg">
              <!-- <img id="WhereLooksMatter" src="assets/WhereLooksMatter.svg" alt="WhereLooksMatter"> -->








<!-- <h3>Where Looks Matter</h3> -->
<div id="phone_container"><a id="phone_number" href="tel:217-721-9724">(217) 721-9724</a></div>


<!-- Pictures cropped to 400x400px -->
<div id="cuts_container">
    {% include cut1image.html %}
    <img class="cuts" id="cut1image" src="assets/cuts/1.jpg">
    <img class="cuts" id="cut2image" src="assets/cuts/2.jpg">
    <img class="cuts" id="cutmiddleimage" src="assets/cuts/9.jpg">
    <img class="cuts" id="cut3image" src="assets/cuts/4.jpg">
    <img class="cuts" id="cut4image" src="assets/cuts/8.jpg">
</div>







{% include info.html %}








<div id="hours_map_container">

<div id="map"></div>


<!-- <h2>{{ page.title }}</h2> -->

  {% include page-intro.html %}

  {{ content }}

  <!-- <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section> -->

</div>


</div>




<div id="stylists_container">

    <div id="stylist_1">
      {% include stylist1image.html %}
        <div id="stylist_info_container">
            {% include stylist1name.html %}
            {% include stylist1description.html %}
        </div>
    </div>

    <!-- <div id="stylist_2">
        {% include stylist2image.html %}
          <div id="stylist_info_container">
              {% include stylist2name.html %}
              {% include stylist2description.html %}
          </div>
      </div> -->

  </div>

  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>